header {
    padding: 20px 0 0;
    text-align: center;
}

#site-logo img {
    /*width: 100%;*/
}


.site-title1 {
    color: brown;
    font-size: 2.5rem;
    line-height: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.site-title2 {
    color: brown;
    font-size: 1.5rem;
    line-height: 100%;
    padding-bottom: 10px;
    text-align: center;
}

header img {
    max-height: 170px;
}

@media screen and (max-width: 395px) {}

@media screen and (min-width: 399px) {}

@media screen and (min-width: 576px) {
    #site-logo img {
        width: 100%;
    }

    .site-title1 {
        padding-top: 0;
        padding-bottom: 15px;
    }

    .site-title2 {
        font-size: 1.5rem;
        padding-bottom: 0;
    }
}

@media screen and (min-width: 768px) {
    .site-title1 {
        font-size: 2.7rem;
        padding-bottom: 20px;
    }

    .site-title2 {
        font-size: 2rem;
    }
}

@media screen and (min-width: 992px) {
    #site-logo img {
        width: auto;
    }

    .site-title1 {
        font-size: 4rem;
        padding-bottom: 30px;
    }

    .site-title2 {
        font-size: 2.3rem;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    .site-title1 {
        font-size: 5rem;
    }

    .site-title2 {
        font-size: 2.7rem;
    }
}