.form-group .select2-container .select2-selection--single {
    font-family: 'Open Sans', sans-serif;
    height: 30px;
    border-color: #ced4da;
    box-shadow: 0 0 10px rgba(0, 0, 0, .075);
}

.form-group .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0.25rem 0.9rem;
}

.form-control,
.form-group selection select2-selection__rendered,
.form-group .select2-container--default .select2-selection--multiple {
    border-radius: 0;
    box-shadow: none;
}

.form-group .select2-container--default.select2-container--focus .select2-selection--multiple {
    background-color: #eff2f8;
    border: 1px solid #c8d0df;
    line-height: 1.5rem;
}


.form-group .select2-container--default .select2-selection--multiple {
    border: 1px solid #c8d0df;
    min-height: 20px;
}

.form-group .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background: none;
    border: none;
}

.form-group .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    border: none;
}

.form-group .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.form-group .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    background: none;
}

.form-group .select2-container--default .select2-search--inline .select2-search__field {
    color: #8a7373;
    min-height: 20px;
    padding: 6px 18px;
}

.form-group .select2-search__field::-webkit-input-placeholder,
.form-group .select2-search__field::placeholder {
    color: #aaaab2;
}

.form-group .select2-container--default .select2-selection--single {
    border-radius: 0;
}

.form-group .select2-container--default .select2-selection--single .select2-selection__placeholder,
.form-group .select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    font-size: 1rem;
    color: #aaaab2;
}

.form-group .select2-search__field::-webkit-input-placeholder,
.form-group .select2-search__field::placeholder {
    color: #aaaab2;
    font-size: 1rem;
}