.text-sec-link>div {
    min-height: 200px;
    text-align: center;
}

.text-sec-link a {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-decoration: none;
}

.text-sec-link-li a {
    color: #436286;
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    text-decoration: none;
}

.topic-list {
    margin: 0 0 10px 20px;
    font-style: italic;
}

.topic-list-title {
    font-style: normal;
    font-weight: bold;
    margin: 10px 0 0 -20px;

}

.topic-list-title:first-letter,
.metadata-title:first-letter {
    text-transform: lowercase;
}

.metadata-title {
    display: inline-block;
    font-weight: bold;
}

.text-metadata p {
    margin: 0;
}

.corpus-text {
    margin-top: 20px;
}

.corpus-text td:first-of-type {
    padding-right: 20px;
}

.corpus-text td:last-of-type {
    padding-left: 20px;
}

.corpus-text h3 {
    margin-top: 10px;
}

h5 {
    color: #999;
    font-size: .8rem;
}

s {
    text-decoration: none;
}

.photos-b {
    margin-bottom: 10px;
}

.photos-b img {
    display: inline-block;
    margin: 0 10px 10px 0;
    cursor: pointer;
}

.photo-in-modal {
    text-align: center;
}

.leaflet-container a {
    font-size: 1rem;
}

.leaflet-container ul {
    padding-left: 20px;
}

.book-b {
    background-color: aliceblue;
    box-shadow: 5px 5px 10px #999;
    padding: 20px 10px;
    text-align: center;
}

.book-title {
    margin: 10px 0 0;
}